body {
    height: 100vh;
    background-color: rgb(6, 6, 37) !important;
    margin: 0;
    
}

h1 {
    color: antiquewhite !important;
    text-align: center;
    padding: 12px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
cursor: pointer;
background-color: rgb(183, 178, 196);
}

.question-footer {
    border-top: 1px solid rgb(205, 111, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.bg-sucess, .bg-danger {
    color: antiquewhite;
}

.modal-content {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
  }
  

  @media (max-width: 220px) {
    body {
        font-size: 12px;
    }

    h1, h2, h3 {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 6px 10px;
    }

    .question-container {
        padding: 0.5rem;
    }

    #questiontext, .answer-option {
        font-size: 0.9rem;
    }

    .answer-option {
        padding: 6px;
    }

    .progress {
        height: 12px;
    }

    .modal-content {
        font-size: 0.85rem;
    }
}
